.App {
  display: flex;
  flex-direction: column;
}

a:link {
  text-decoration: none;
}


@media (max-width: 425px) {
  .App {
    align-items: center;
  }
 
  .exercise-icon {
    font-size: 10vw;
  }

  .chevron-icon {
    font-size: 6vw;
  }

}