.App {
  display: flex;
  flex-direction: column;
}

a:link {
  text-decoration: none;
}

nav {
  margin-left: 24px;
}

.nav-title {
  color: white;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: 700;
}

.nav-subtitle {
  color: white;
  font-size: 24px;
  margin-top: 4px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #5128E8; 
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
}

.home-exercise-container {
  display: flex;
  flex-direction: row;
  background-color: #4C4C4D;
  width: 500px;
  height: 150px;
  margin: 30px;
  color: white;
  text-decoration: none;
}

.home-ex-icon {
  flex-grow: 1;
  padding: 10px;
}

.home-ex-data {
  flex-grow: 2;
}

.home-ex-status {
  flex-grow: 1;
}

.home-ex-chevron {
  flex-grow: 1;
  color: #4402F5;
}

.add-entry-button {

}